.DS_Store
.dart_tool/

.packages
.pub/
.flutter-plugins-dependencies
pubspec.lock
.dart_tool/

build/
doc/

.DS_Store
.atom/
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json

.flutter-plugins
